
[Unit]
Description=artifact-server

[Service]
Type=simple
User=root
Group=root
Environment=ACCESS_KEY=REPLACEME
WorkingDirectory=/root
ExecStart=/usr/local/bin/artifact-server
Restart=always
RestartSec=3
StartLimitBurst=5
StartLimitInterval=0
StandardOutput=journal
StandardError=journal
SyslogIdentifier=artifact-server
TimeoutSec=60

[Install]
WantedBy=multi-user.target
